.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 20px;
} 